<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darkbot API - 404</title>
</head>
<body>
    <%- include('_header') %>
    <h1 style="color: white; text-align: center;">404 - Not Found</h1>
    <p style="text-align: center; margin-top: 1em; font-size: 1em;">This page does not exist...</p>
</body>
</html>